@import "tailwindcss";

 :root {
  --background: #000000;
  --foreground: #ffffff;
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
} */

body {
   font-family: 'Montserrat', sans-serif;
   background-color: #F8F7F7;
}

 /* .custom-dots .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #ffffff70; 
  border-radius: 9999px;
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;  
} 

.custom-dots .swiper-pagination-bullet-active {
  width: 6px;
  height: 6px;
  box-shadow: 0 0 10px 2px #ffffff;
  background: #ffffff;
  border-radius: 9999px;

}  */



.custom-swiper-btn {
  @apply !bg-white rounded-full  !p-3 flex items-center justify-center;
  width: 35px; /* small size */
  height: 35px;
}

.custom-swiper-btn::after {
  color: orange !important;  /* icon color */
  font-weight: 700;         /* bold-looking */
  font-size: 12px !important; /* small icon */
}


.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

button{
  cursor: pointer;
}




