.profile-content hr
{
  margin-top:2px;
  margin-bottom:6px;
  border-color:green;
}
/* Profile sidebar */
.profile-sidebar {
  padding: 20px 10px 10px 10px;
  background: #fff;
  border-radius:4px;
}

.mySlides {display:none;}
      .w3-section, .w3-code
      {
        margin-bottom:0px!important;
      }
      .w3-content
      {
        max-width:100%!important;
      }
.newlii
{
  margin-left:-40px;

}
.edit
{
  position:fixed;
  right:0;
  margin-right:20px;
  margin-top:40px;
  z-index:9999;
}
.edit a
{
  font-size:30px!important;
}
.butn1
{
  padding:1px 8px 1px 8px;
  background-color:orange;
  color:#000;border-color:orange;
}
.yoi
{
  font-size:19px;
  color:#797979;
}
.btn-group
{
  box-shadow:0px 0px 6px;
  border-radius:4px;
}
.butn2
{
  padding:1px 8px 1px 8px;
  background-color:#CDCDCD;
  border-color:#CDCDCD;color:#000;
}
.butn1:hover
{
  background-color:orange;
  border-color:orange;
  color:#000;
}
.butn2:hover
{
  background-color:#CDCDCD;
  border-color:#CDCDCD;
  color:#000;
}
.newbanner
{
  padding-right:6px;
  padding-left:6px;
}
.ul
{
  margin-left:-30px;
}
.ul li
{
  margin-bottom:20px;
}
.newlii li
{
  list-style:none;
  float:left;
  width:210px;
}
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.pro-p
{
  font-size:14px;
}
.pro-ul li
{
  list-style:none;
  float:left;
  margin-left:15px;
}
.pro-ul li i
{
  font-size:18px;
  color:#337AB7;
}
.work
{
  margin-top:10px;
  padding:5px;
  box-shadow:0px 0px 10px #ccc;
  margin-bottom:20px;
}
.work h4
{
  margin:0px;
  color:#5B9BD1;
  padding-bottom:6px;
  margin-left:10px;
  font-size:18px;
}
.work p
{
  font-size:12px;
  padding-top:6px;
}
.profile-content h3
{
  color:#5A7391;
  margin-top:0px;
}
/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  border-radius:4px;
}
.contentul li
{
  list-style:none;
}
a
{
  text-decoration:none!important;
}
.search-padding
{
  padding-left:5px!important;
  padding-right:5px!important;
}
.topul
{
  margin-left:-40px;
}
.topul li
{ 
  list-style:none;
}
.topul li span
{
  font-size:13px;
}
.close-button
{
  border-radius: 50%!important;
  border: 1px solid black!important;
  background-color: #7f7070!important;
  color:#fff!important;
  padding:1px 6px 1px 6px!important;
}
.ulli li
{
  list-style:none;
  line-height:30px;
}
.ulli li i
{
  color:#FF6E04;
}
.labels
{
  font-size:12px;
}
.main-box-profile
{
  padding:20px;
  box-shadow:0px 0px 10px#ccc;
  margin-top:40px;
  width:70%;margin:auto;
}
.map iframe
{
  width:100%!important;
  height:350px!important;
}
.profile-box
{
  padding:10px;
}
.profile-box i
{
  font-size:50px;
}
.profile-box p
{
  font-size:20px;
  
}
.pack
{
  margin-top:40px;
}
.pack h3
{
  font-family:raleway;
}
.pack .thumbnail
{
  padding-bottom:28px;
}
.pack img
{
  height:100px!important;
  margin-top:-50px;
  z-index:9999;
}
.pack p
{
  text-align:justify;
  padding:10px 20px 10px 20px;
}
.down
{
  box-shadow:0px 0px 10px #ccc;
  padding:10px 20px 30px 20px;
  background-color:#fff;
}
.down h3
{
  font-family:raleway;
}
.navbar-toggle
{
  margin-top:18px!important;
}

hr
{
  border-color:#ccc!important;
}
.claim
{
  font-weight:normal;font-size:11px;
}
.post
{
  color:#fff!important;
  padding:5px 10px 5px 10px!important;
  margin-top:10px;
}
.marquee h5
{
  margin-bottom:4px!important;
  font-size:13px!important;
}
.marquee p
{
  font-weight:normal!important;
  font-size:12px!important;
}
.nonet1
{
  width:100%!important; 
}
.post:hover
{
    background-color:#428BCA!important;
}
.filter-search-top
{
  background-color:#428BCA;
  padding:5px 10px 5px 10px;margin-top:20px;
  color:#fff;text-align:center;
  font-size:16px;
}
.filter-search-middle
{
  background-color:#fff;
  padding:6px;
}
.filter-search-top-head
{
  background-color:#eee;
  padding:5px 10px 5px 10px;
  font-size:15px;
}
.search-button
{
  padding:2px 10px 2px 10px;
  float:right;
}
.filter-search-top-head hr
{
  margin:5px;border-color:black;
}
.icon center
{
  margin-top:10px;
}
.no-need-left
{
  padding-left:0px!important;
  padding-right:5px!important;
}
.no-need-right
{
  padding-left:5px!important;
  padding-right:0px!important;
}
.top-box-show
{
  margin-top:20px;
}
.top-box-show .row
{
  margin-bottom:10px;
}
.top-box-show .heading-div
{
  background-color:white;box-shadow:0px 0px 6px #ccc;
}
.heading-div-2
{
  background-color:white;box-shadow:0px 0px 6px #ccc;
  margin-bottom:15px;
}
.modal-box
{
  margin-top:150px;background-color:#eee;
  width:450px;
}
.modal-box .modal-body
{
  padding:10px 40px 40px 40px;
}
table td
{
  vertical-align:middle!important;
}
.login_style p i {
  color: #337AB7; }
.icon .a
{
  float:left;
  margin-left:15px;
}
.phone
{
  position:fixed;
  bottom:0;padding-left:10px;
  padding-bottom:50px;z-index:9999;
  
}
.phone-ticker
{
  background-color:#649732;padding:8px 12px 8px 12px;
  border-radius:100%;box-shadow:0px 0px 2px;
}
.phone i
{
  font-size:20px;
  color:white;
  animation: blinker 2s linear infinite;
  letter-spacing:1px;
}
@keyframes blinker 
{  
    50% { opacity: 0; }
}
.videoid label
{
  transition:0.5s;
  cursor:pointer;
}
.videoid label:hover
{
    background-image:url('../images/youtubeid.png');
    width:100%;height:40px;
    background-size:cover;
    padding-top:45px;
    transition:0.5s;
}
.p_box {
  //padding: 15px;
  //background-color: #eee; }


.p_box:hover {
  //background-color: #ccc;
  color: black; }
#divclose
  {
    display:none;
  }
.address {
  font-size: 15px; }
.navs
{
  margin-top:12px;
}
.border
{
  text-align:center;
  padding:10px 0px 10px 0px;
  margin-bottom:10px;
  box-shadow:1px 2px #ccc;
}
.main-box a
{
  color:black;
}
.border-a
{
  font-size:22px;
  color:black!important;
  letter-spacing:1px;
}
.heading
{
  color:#337AB7;
  font-family:raleway;
}
hr {
  border-color: #ccc; }

#forms1 {
  display: none; }

#forms5 {
  display: none; }

#form
{
  display:none;
}

body {
  font-family: 'Arial'; }

.fa-btn {
  margin-right: 6px; }

.icon a i {
  font-size: 34px; }

.icon li {
  list-style: none;
  font-size: 17px;
  line-height: 35px; }

.icon a {
  color: white; }

.icon p {
  font-size: 16px; }

.style {
  margin-top: 60px; }
.image-resize
{
    width:150px;height:100px!important;
}
.search-top
{
  background-color:#ccc;padding:2px 17px 2px 17px;
  margin-top:10px;
}
.search-down i
{
  color:#E7711B;
}
.search-down
{
  margin-bottom:5px;
}
.thumbnail
{
  margin-bottom:10px!important;
}
.search-top .row
{
  background-color:white;
}
.search-top hr
{
  border-color:black;margin:5px;
}
.pad-left a h3
{
  color:#2A2A2A!important;
  font-size:20px;
  margin-top:5px;
}
.top-pad
{
  margin-top:5px;
}
.search-buttom
{
  border:1px solid #ccc;padding:5px;
}
.search-buttom a
{
  padding:2px 6px 2px 6px;font-size:14px;
}
.pad-left
{
  font-size:14px;
  color:#6b6a6a;
}
.white
{
  color:#fff!important;
}
.down-div
{
  background-color:#eee;padding:30px 40px 20px 40px;
  text-align:justify;margin-top:10px;
  margin-bottom:40px;font-size:16px;
}
.left-right
{
  padding-right:5px!important;
  padding-left:5px!important;
}
.background
{
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:black;
  z-index:9999;
}
.verify
{
  width:80%;
  margin:auto;
  margin-top:100px;
  position:relative;
  z-index:9999;
}
.bgin
{
  opacity: 1;
}
.search-heading span
{
  margin-top:8px!important;
  font-size:22px!important;
    color:black;
}
.top-ticker
{
  background-color:#F8F8F8;
  padding:6px;margin-top:22px;
  color:#428BCA;box-shadow:0px 0px 8px #ccc;
}
.left-border
{
  border-left:1px solid #ccc;
}
.top-pad .verifyicon
{
  width:18px;
}
.verified-cricle
{
  border-radius:50%;
  padding:4px 6px 6px 6px;
  background-color:#fff;
  opacity:0.9;
  margin-top:-45px;
   float:left;box-shadow:0px 0px 2px #ccc;
  position:relative;margin-left:6px;

}
.change-img
{
  font-size:12px;
}
.borders
{
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  padding:4px 2px 2px 2px;
  width:20%!important;
  border-top:1px solid #eee;

}
.top-main
{
  min-height:500px;margin-top:75px;
}
.navbar-header i
{
  font-size:18px;
  margin-top:15px;
  color:#828282;
}
.plus i
{
  font-size:32px!important;
  margin-top:-20px!important;
  color:#F70000!important;
  margin-bottom:5px;
}

.borders span
{
    font-size:11px;
    color:#828282;
}
.borders i
{
  font-size:20px;
  color:#828282;
} 
.footerxs
{
    background-color:#fff;
    position:fixed;
    bottom:0;
    width:100%;
    z-index:9999;
    box-shadow: 0px 0px 1px;
}
@media (max-width: 480px) {
  .thumbnail img
{
    width:200px!important;
    height:80px!important;
}
.search-box
{
  display:none;
}
.top-main
{
  margin-top:65px!important;
}
.navbar-header a img
{
  width:150px;
}
.lia i
{
  //border:1px solid #000;
  padding:9px 12px 9px 12px;
  border-radius:100px;
}
.red
{
  background-color:#FF0000;
  color:#fff;
}
.blue
{
  background-color: #223480;
  color:#fff;
}
.lia
{
  font-size:18px!important;
  text-align:center;
}
.lia span
{
  font-size:12px!important;
}
.newbar li a
{
  padding:0px!important;
  padding-top:4px!important;
}
.newbar .newli
{
  float:left!important;
  width:20%!important;
}
.newbar li ul li
{
  width:350px;
}
.top-box-show .heading-div
{
  padding-left:10px!important;
  padding-right:10px!important;
}
.yo
{
  margin-top:10px;
}
.no-need-left
{
  padding-left:10px!important;
  padding-right:10px!important;
}
.no-need-right
{
  padding-left:10px!important;
  padding-right:10px!important;
}
.leftsides img
{
  width:100%!important;
  height:200px!important;
}
.verified-cricle
{
  margin-top:-32px!important;
  padding:1px 5px 4px 5px!important;
  margin-left:4px!important;
}
.top-pad .verifyicon
{
    width:12px!important;
    height:12px!important;
    
}
.chota
{
  font-size:25px!important;
}
.kaam
{
  padding:20px!important;
}
.top-ticker span
{
  font-size:12px!important;
}
.border
{
  font-size:28px!important;
}
.border a
{
  font-size:28px!important;
}
.pack img
{
  width:120px!important;
  height:100px!important;
}
.pack h3 a
{
  font-size:20px!important;
}
.pack .thumbnail
{
  margin-bottom:60px!important;
}
.down
{
  margin-bottom:20px;
}
.left-border
{
  border:1px solid #ccc;
  padding-top:20px;
}
.index-page img
{
  min-height:500px;
  width:100%!important
}
.green-button
{
  margin-top:25px!important;
}
.search-heading span
{
  margin-top:2px!important; 
}
.down-div
{
  font-size:12px!important;
}
.search-top
{
  padding:0px!important;
  margin-top:6px!important;
}
.search
{
  border-bottom:1px solid #ccc;
}
.icon p, a
{
  font-size:12px!important;
}
.heading
{
    font-size:20px!important;
}
.main-box span
{
    font-size:30px!important;
}
.main-box p
{
    font-size:12px!important;
}
.pad-left
{
  padding-left:0px!important;
}
.watermark
{
  width:140px!important;
  height:40px!important;
}
.search-heading span
{
    font-size:15px!important;
    margin-top:0px;
}
.thumbnail
{
  margin-bottom:10px!important;
}
.search-top .row
{
  padding:2px!important;
}
.search-down span
{
  font-size:12px!important;
}
.heading-div h2
{
  font-size:25px;
  margin-top:10px;
}
.heading-div
{
  padding:6px;
}
.left-right address
{
  font-size:11px;
  margin-bottom:0px!important;
}
.bancho2
{
  padding-left:14px!important;
}
.bancho
{
  padding-left:0px!important;
}
.left-right
{
  padding-right:5px!important;
  padding-left:12px; 
}
.left-right span
{
  font-family:candara;
  
  margin-bottom:2px!important;

}
.but
{
  padding:4px 12px 4px 12px;
  letter-spacing:1px;
}
.top-pad
{
  width:28.333%!important;
}
.top-pad img
{
    width:95px!important;
    height:70px!important;
}
  .login_style {
    padding: 20px 40px 20px 40px !important; }
  .heading {
    font-size: 25px; }
  .ad {
    text-align: center; } 
  .leftside
  {
    padding-right:15px!important;
  }
  .icon .a
  {
      margin-left:5px!important;
  }
  .index
  {
    margin-top:10px;
  }
  .upper
  {
    margin-top:-20px!important;
  }
  .panel-heading span
  {
    font-size:26px!important;
  }
  .uppar
  {
    margin-top:0px!important;
    float:none!important;
    width:100%!important;
  }
  .modal-box
{
  margin-top:100px;background-color:#eee;
  width:320px;
}
.modal-box .modal-body
{
  padding:20px 40px 40px 40px;
}

}

@media (max-width: 767px) 
{
    .green-button
    {
      margin-left:-17px!important;
      margin-top:55px;
    }

}

@media (max-width: 768px) {
  .navbar-right {
    margin-right: 0px; } }

/*# sourceMappingURL=app.css.map */
.li li
{
  display:inline;float:left;
  width:300px;list-style-type:disc;
  font-size:16px;font-weight:bold;
}
.li i
{
  color:green;
}
.header_post
    {
      background-color:#367889;
    }
    label
    {
      font-size:16px;
    }
    label span
    {
      color:red;
    }
    .big
    {
      width:33.3%;
      font-size:25px;
    }
.upper
{
  z-index:9999;
  margin-top:-200px;
}
.uppar
{
  z-index:9999;
  margin-top:-50px;
  width:80%;float:right;
}
.login_style
{
    font-size:20px;
}
.login_style span
{
    color:green;
    font-weight:bold;
}
 @media (max-width:480px)
{
    .login_style
    {
        padding:20px 40px 20px 40px!important;
    }
     label.star 
     {
      margin-right:-7px!important;
     }
     .new-image img
     {
      width:100%;height:270px!important;
     }
}
.box
{
  padding:20px;
  margin-top:20px;background-color:white;
  border-radius:2px;box-shadow:2px 2px 2px 2px #ccc;
  margin-bottom:40px;
}
.color p
{
  color:white;
}
.color footer
{
  color:black;
}

.new-image img
{
  width:100%;height:400px; 
}
  .comparison {
  max-width:940px;
  margin:0 auto;
  font:13px/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align:center;
  padding:10px;
}

.comparison table {
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  border-bottom:1px solid #CCC;
}

.comparison td, .comparison th {
  border-right:1px solid #CCC;
  empty-cells: show;
  padding:10px;
}

.compare-heading {
  font-size:18px;
  font-weight:bold !important;
  border-bottom:0 !important;
  padding-top:10px !important;
  text-align:center;
}

.comparison tbody tr:nth-child(odd) {
  display:none;
}

.comparison .compare-row {
  background:#F5F5F5;
}

.comparison .tickblue {
  color:#0078C1;
}

.comparison .tickgreen {
  color:#009E2C;
}

.comparison th {
  font-weight:normal;
  padding:0;
  border-bottom:1px solid #CCC;
}

.comparison tr td:first-child {
  text-align:left;
}
  
.comparison  .comparison .qbo, .comparison .tl {
  color:#FFF;
  padding:10px;
  font-size:13px;
  border-right:1px solid #CCC;
  border-bottom:0;
}

.comparison .tl2 {
  border-right:0;
}

.comparison .qbse {
  background:#0078C1;
  border-top-left-radius: 3px;
  border-left:0px;
}

.comparison .qbo {
  background:#009E2C;
  border-top-right-radius: 3px;
  border-right:0px;
}

.comparison .price-info {
  padding:5px 15px 15px 15px;
  text-align:center;
}

.comparison .price-was {
  color:#999;
  text-decoration: line-through;
}

.comparison .price-now, .comparison .price-now span {
  color:#428BCA;
}

.comparison .price-now span {
  font-size:32px;
}

.comparison .price-small {
    font-size: 18px !important;
    position: relative;
    top: -11px;
    left: 2px;
}

.comparison .price-buy {
  background:#428BCA;
  padding:10px 20px;
  font-size:12px;
  display:inline-block;
  color:#FFF;
  text-decoration:none;
  border-radius:3px;
  text-transform:uppercase;
  margin:5px 0 10px 0;
}

.comparison .price-try {
  font-size:12px;
}

.comparison .price-try a {
  color:#202020;
}

@media (max-width: 767px) {
  .comparison td:first-child, .comparison th:first-child {
    display: none;
  }
  .comparison tbody tr:nth-child(odd) {
    display:table-row;
    background:#F7F7F7;
  }
  .comparison .row {
    background:#FFF;
  }
  .comparison td, .comparison th {
    border:1px solid #CCC;
  }
  .price-info {
  border-top:0 !important;
  
}
  
}

@media (max-width: 639px) {
  .comparison .price-buy {
    padding:5px 10px;
  }
  .comparison td, .comparison th {
    padding:10px 5px;
  }
  .comparison .hide-mobile {
    display:none;
  }
  .comparison .price-now span {
  font-size:16px;
}

.comparison .price-small {
    font-size: 16px !important;
    top: 0;
    left: 0;
}
  .comparison .qbse, .comparison .qbo {
    font-size:12px;
    padding:10px 5px;
  }
  .comparison .price-buy {
    margin-top:10px;
  }
  .compare-heading {
  font-size:13px;
}
}
.new-heading
{
  font-size:25px;
  font-weight:bold!important;
}
.stars {

    width: 100%;

    display: inline-block;

  }

   

  input.star { display: none; }

   

  label.star {

    float: right;

    padding: 10px;

    margin-right:42px;

    font-size: 36px;

    color: #444;

    transition: all .2s;

  }

   

  input.star:checked ~ label.star:before {

    content: '\f005';

    color: #FD4;

    transition: all .25s;

  }

   

  input.star-5:checked ~ label.star:before {

    color: #FE7;

    text-shadow: 0 0 20px #952;

  }

   

  input.star-1:checked ~ label.star:before { color: #F62; }

   

  label.star:hover { transform: rotate(-15deg) scale(1.3); }

   

  label.star:before {

    content: '\f006';

    font-family: 'FontAwesome'; src: url('../font/fontawesome-webfont.eot?v=3.2.1'); src: url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1');

  }
